.to-do-page {
  height: 100vh;
  display: flex;
  background: url('/assets/bg/bg-1.svg');
  font-family: Fira Code;
  color: #426a8c;
}

.to-do-page-content {
  width: 80%;
  max-width: 1200px;
  height: auto;
  margin: auto;

  &__title {
    font-size: 50px;
    font-weight: 600;
    padding: 12px 0px;
    text-align: center;
    margin-bottom: 32px;
    background-color: #cde8ff;
    box-shadow: 7px 7px 0px 1px #426a8c;
  }

  &__card {
    height: 600px;
    padding: 20px;
    background-color: #cde8ff;
    box-shadow: 7px 7px 0px 1px #426a8c;
  }
}