<div
  class="to-do-details"
  *ngIf="toDo"
>
  <div class="to-do-details__header">
    <div class="to-do-details__title">
      {{ toDo.title }}
    </div>
  </div>
  <div class="to-do-details__body">
    <div
      class="to-do-details__card"
      *ngFor="let task of toDo.tasks"
    >
      {{ task.title }}
    </div>
  </div>
  <div class="to-do-details__footer">
    <input
      class="to-do-details__search"
      type="text"
      placeholder="Add Task..."
      (keypress)="addTask($event)"
    />
  </div>
</div>
